@import "vendor/fonts";
@import "vendor/reset";
@import "vendor/mixins";

body {
    background-color: #FFFEFC;
    color: white;
    font-family: 'Roboto';
    background-image: url('@img/bgc.jpg');
    background-size: none;
    background-color: black;

    &.no-scroll {
        overflow: hidden;
    }
}

.main {
    transition: filter .4s;
    
    &_blur {
        filter: blur(5px);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Common styles */
@import "vendor/common-styles";

/* Blocks */
@import "blocks/header";
@import "blocks/intro";
@import "blocks/course";
@import "blocks/about-us";
@import "blocks/start";
@import "blocks/profession";
@import "blocks/partners";
@import "blocks/program";
@import "blocks/teachers";
@import "blocks/footer";

