@import "vendor/reset";
@import "vendor/_vars";
@import "vendor/fonts";
@import "vendor/options";
@import "vendor/mixins";

body {
    color: $text;
    font-family: 'Roboto';
    background-image: url('@img/bgc.jpg');
    background-size: none;
    background-color: $black;

    &.no-scroll {
        overflow: hidden;
    }
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    transition: filter .4s;

    &_blur {
        filter: blur(5px);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "blocks/header";
@import "blocks/intro";
@import "blocks/course";
@import "blocks/about-us";
@import "blocks/start";
@import "blocks/profession";
@import "blocks/partners";
@import "blocks/program";
@import "blocks/teachers";
@import "blocks/footer";

/* Common styles */
@import "vendor/common-styles";